{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body %}

<div class="hide-on-med-and-down">

  <section>
      <div class="row">
          <div class="col m12 l3 " id="signup-panel">
              <img src="{% static 'users/img/white-logo.png' %}" alt="" class="responsive-img">
          </div>
          <div class="col m12 l9" id="signup-body">
              <section class="center" style="padding-top: 30px;"> 
                  <a href="index.html"><img src="{% static 'users/img/home.png' %}" alt="" class="responsive-img right home-btn" style="background-color: #600060; width: 40px; border-radius: 50%;"></a>
                  <img src="{% static 'users/img/mobile/mobile.png' %}" alt="" class="responsive-img">
              </section>

              <section>
                <div class="container" >
                    {% get_providers as socialaccount_providers %}

                    {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                    <div class="socialaccount_ballot">

                      <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                      </ul>

                      <div class="login-or">{% trans 'or' %}</div>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                    {% else %}
                    <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                    {% endif %}

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}
                          {% for field in form %}
                                <div class="fieldWrapper">
                                    {{ field.errors }}
                                    
                                    {% if not field.html_name == 'remember' %}
                                    <input type="text" id="signup-input" name="{{field.html_name}}" value="" placeholder=" {{field.field.label}}" required>
                                    {%endif%}
                                    
                                    <input type="checkbox" id="{{field.id_for_label}}" name="{{field.html_name}}">
                                    
                                    {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                          {% endfor %}<br>
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                    </form>
                      
                </div>
              </section>
          </div>
      </div>
      
  </section>

</div>


{% endblock %}
