{% extends 'base.html' %}


{% block category_section %}
    {% include 'categories_nav.html' %}
{% endblock %} 

{% block body %}
    <h2><a href="{% url 'site-home' %}">Home</a> </h2>
    <a href="{% url 'products:list_product'%}" class="btn btn-outline-secondary">Product List</a>
    {% if user %} 
        <div class="content-section">
            <div class="media">
                <img src="{{image.image.url}}" alt="" class="rounded-circle account-img">
                <div class="media-body">
                    <h4 class="account-heading">{{user.username}}</h4>
                    <p class="text-secondary">{{user.email}}</p>
                    <form action="{% url 'products:update_product' product.prod_slug %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4"> Update Products </legend>
                            {{prod_form.as_p}}
        					{{image_form}}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">submit</button>
                        </div>
                        
                    </form>
                </div>
            </div>  
        </div>
    {% endif %}
{% endblock %}